.class-one h2 {
    color: #080;
}

.class-one p {
    color: #080;
}

.class-two h2 {
    color: #034;
}

.class-two p {
    color: #034;
}

.class-three h2 {
    color: #239;
}

.class-three p {
    color: #239;
}

.class-four h2 {
    color: #879;
}

.class-four p {
    color: #879;
}